@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/***** GLOBAL SETTINGS *****/

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --white-transparent-1: hsla(0, 0%, 100%, 0.75);
  --white-transparent-2: hsla(0, 0%, 100%, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background-color: var(--very-dark-blue);
  color: var(--white-transparent-1);
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/***** CARD COMPONENT *****/

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 115rem;
  justify-content: center;
  align-content: center;
  margin: 2rem;
  background-color: var(--dark-desaturated-blue);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1rem 4rem #000000;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 7rem 3rem 7rem 7rem;
}

.heading-primary {
  width: 90%;
  font-size: 3.4rem;
  color: var(--white);
}

.heading-primary span {
  color: var(--soft-violet);
}

.card__text p {
  line-height: 1.6;
  max-width: 80%;
}

.card__data {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin-top: 4rem;
}

.card__data > * {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--white);
  line-height: 0.5;
}

.card__data > * span {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--white-transparent-2);
  letter-spacing: 1px;
}

.card__image {
  background-image: linear-gradient(
      to right bottom,
      hsla(277, 56%, 34%, 0.61),
      hsla(277, 56%, 34%, 0.61)
    ),
    url(../images/image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  filter: contrast(110%);
  width: 100%;
}

/***** MEDIA QUERY *****/

@media only screen and (max-width: 56em) {
  html {
    font-size: 55%;
  }

  .card__text {
    padding: 3rem;
    font-size: 1.6rem;
  }

  .card__data {
    gap: 1rem;
  }
}

@media only screen and (max-width: 38em) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card__text {
    grid-row: 2/3;
    align-items: center;
  }

  .card__text p {
    text-align: center;
    max-width: 100%;
  }

  .heading-primary {
    text-align: center;
  }

  .card__data {
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
  }

  .card__image {
    background-image: linear-gradient(
        to right bottom,
        hsla(277, 56%, 34%, 0.61),
        hsla(277, 56%, 34%, 0.61)
      ),
      url(../images/image-header-mobile.jpg);
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 24em) {
  .card {
    grid-template-rows: 1fr 2fr;
  }

  .card__text {
    padding: 4rem 3rem;
  }

  .card__text > p {
    width: 90%;
  }

  .card__data {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
  }
}

/***** FOOTER *****/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
